header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, rgb(120, 122, 189), rgb(238, 205, 144));
  background-size: 200% 200%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header h1 {
  margin: 0 0 10px 0;
  font-size: 32px;
}

nav ul {
  display: flex;
  gap: 50px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 20px;
}
