body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(180deg, rgb(120, 122, 189), rgb(238, 205, 144));
  background-size: 200% 200%;
  animation: SSMove 10s ease infinite;
}

@keyframes SSMove {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}


.wrapper {
  width: 420px;
  background: transparent;
  border: transparent
  backdrop-filter: blur(90px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
  transition: box-shadow 1.5s cubic-bezier(0.22, 1, 0.36, 1);
}
.wrapper:hover {
  box-shadow: 0 0 40px rgb(0, 0, 0, 1);
  
}
.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  width: 100%;
  margin: 30px 0;
  position: relative;
}

.input-box input {
  width: 100%;
  padding: 12px 40px 12px 15px;
  border: 2px solid white;
  border-radius: 40px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
}

.input-box input:hover {
  box-shadow: rgba(0, 0, 0, 0.664) 0px 0px 8px;
  transition: all 0.3s ease;
  
}

.input-box input:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.664) 0px 0px 8px;
  border-color: rgb(255, 255, 255);
  background-color: #ffffff33;
  
}

.input-box input::placeholder {
  color: white;
}



.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-around;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: white;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  color: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.425);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}



.wrapper .btn:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.664);
  transition: all 0.1s ease;
} 


.wrapper .register-link {
  text-align: center;
  font-size: 14.5px;
  margin: 20px 0 15px;
}
.register-link p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
}
